@import "../header/header";
@import "../section/section";
@import "../section/section2.scss";
@import "../section/section3";
@import "../footer/footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}